.button {
    font-weight: 400;
    justify-content: right;
    border: none !important;
    width: 100%;
}

.delete {
    color: var(--mantine-color-cherry-5);

    &:disabled,
    &[data-disabled] {
        color: var(--mantine-color-dark-3);
    }
}
