.container {
    position: relative;
    justify-content: start;
    /* max-height: 100%; */
    height: 100%;
    padding: var(--mantine-spacing-md);
    flex: 1;

    transition: flex-basis 200ms;
}

.machineDetails {
    gap: var(--mantine-spacing-sm);
}

.machineTitleStack {
    gap: 0;
}

.machineTitle {
    height: 100%;
    text-transform: capitalize;
    font-size: var(--mantine-font-size-md);
    font-weight: 600;
}

.machineSubtitle {
    font-size: var(--mantine-font-size-xs);
    padding: 2px;
    color: var(--mantine-color-dimmed);
}

.fieldText {
    font-weight: 700;
    font-size: var(--mantine-font-size-xs) !important;
    margin-bottom: -0.5rem !important;
}
