.table {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    background-color: var(--mantine-color-dark-8);
    border-radius: var(--mantine-radius-md);
    border: 1px solid var(--mantine-color-dark-6);
}

.tr {
    display: flex;
    border-bottom: 1px solid var(--mantine-color-dark-6);
    min-width: 100%;
    border-width: 1px;
    width: 100%;
}

.trError {
    background-color: color-mix(in srgb, var(--mantine-color-red-8) 10%, transparent);
}

.trError * {
    color: var(--mantine-color-red-9);
}

.tr:has(.th) {
    position: sticky;
    top: 0;
    background-color: var(--mantine-color-dark-6);
    z-index: 100;
}

.tr:not(:has(.th)) {
    scroll-margin-top: 44px;
    height: 40px;
}

.tr:last-child {
    border-bottom: none;
}

.th,
.td {
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    height: 100%;

    padding: 4px var(--mantine-spacing-xs);
}

.th {
    font-weight: 600;
}

.loaderContainer {
    width: 100%;
    height: 100%;
    flex: 1;
    min-height: 240px;
    justify-content: center;
    align-items: center;
    gap: var(--mantine-spacing-xs);
}

.errorTooltip {
    background-color: var(--mantine-color-red-8);
    color: var(--mantine-color-dark-8);
    font-weight: 500;
}

.errorIconWrapper {
    height: 100%;
    width: 100%;
    align-items: center;
    cursor: help;
}

.cellText {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 36px;
    align-items: center;
    overflow: hidden;
    font-size: var(--mantine-font-size-sm);
    padding-left: 4px;
}
