.avatar {
    border: solid 2px var(--mantine-color-dark-5);
    cursor: pointer;
}

.dropdown {
    padding: 0;
}

.button {
    border: none !important;
    border-top: var(--mantine-color-dark-5) solid 2px !important;
    border-radius: 0;
    background-color: var(--mantine-color-dark-6);
    color: var(--mantine-color-text);

    &:hover {
        background-color: var(--mantine-color-dark-5);
    }
}

.businessCard {
    flex-shrink: 1;
    min-width: 0;
}

.badge {
    flex-shrink: 0;
}
