.nextButtonLabel {
    width: 100%;
    justify-content: center;
    flex: 1;
}

.outputPaper {
    background-color: var(--mantine-color-dark-8);
    padding: var(--mantine-spacing-sm);
    border: 1px solid var(--mantine-color-dark-6);
    flex: 0.8;
    height: 100%;
}

.contentGroup {
    width: 100%;
    min-height: 0;
    flex: 1;
}

.errorsStack {
    gap: var(--mantine-spacing-xs);
    padding-right: var(--mantine-spacing-md);
}
